<%= link_to category_expenses_path(category) do %>
  <div class="category-details border my-4">
    <h4><%= category.name %></h4>
    <h4><%= category.icon %></h4>
    <p>Total amount: <%=  controller.total_amount_for_category(category) %> $</p>
    <% if category.author_id == current_user.id %>
    <%= button_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class:"bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" %>
    <% end %>
  </div>
</div>
<% end %>
