  <div class="category-details my-4 flex flex-col bg-white overflow-x-auto py-2 category-card items-end">
<%= link_to category_expenses_path(category), class: "category-card" do %>
    <div class="flex justify-between w-screen px-2">
      <div class="flex card">
        <!-- image -->
      <div>
        <% if category.icon.present? %>
          <% if category.icon.start_with?("https://") %>
            <%= image_tag category.icon, height: '80px', width: '70px' %>
          <% else %>
            <% if Rails.application.assets.find_asset("#{category.icon}.png") || Rails.application.assets.find_asset("#{category.icon}.jpg") %>
              <%= image_tag asset_path("#{category.icon}"), height: '80px', width: '70px' %>
            <% else %>
               <%= image_tag "default.png", height: '80px', width: '70px' %>
            <% end %>
         <% end %>
        <% end %>
      </div>

        <!-- information -->
        <div class="ml-4 flex card flex-col justify-between">
          <div class="flex justify-between">
            <h4 class="text-gray-500 text-2xl"><%= category.name %></h4>
            <div class="text-gray-800"><%=  controller.total_amount_for_category(category) %> $</div>
          </div>

          <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
          <h4 class="text-gray-500 text-sm"><%= category.created_at.strftime('%B %d, %Y')  %></h4>
        </div>
      </div>
    </div>
<% end %>
    <div class="mt-4">
      <% if category.author_id == current_user.id %>
      <%= button_to 'Delete', user_category_path(current_user, category), method: :delete, data: { confirm: 'Are you sure?' }, class:"bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4" %>
      <% end %>
    </div>
  </div>
