<h1>Expenses for <%= @category.name %></h1>
<% if @expenses.any? %>
<div class="expenses-list">
<% @expenses.each do |expense| %>
  <%= render partial: 'expenses/expense', object: expense, locals: { category: @category } %>
<% end %>
  <div class="bg-white px-2 py-4 flex justify-between">
    <p class="text-gray-500">Total amount: </p>
    <p class="text-gray-800"><%= @total_amount %> $</p>
 </div>
</div>
<% else %>
<p>No expenses found.</p>
<% end %>
<%= link_to 'Add a new expense', new_category_expense_path(@category) %>
<%= link_to "Back", user_categories_path(current_user) %>
