<!DOCTYPE html>
<html>
  <head>
    <title>Budgetapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen w-full">
    <% if notice %>
      <p class="alert"><%= notice %></p>
    <% end %>
    <main class=" h-screen">
      <%= yield %>
    </main>
  </body>
</html>
